
footer
{
    align-items: center;
    background-color: $color-secundario;
    display: flex;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    justify-content: center;

    p
    {
        color: $color-primario;
        font-family: 'Roboto';
        font-size: 1rem;
        font-weight: 400;
    }
}