@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$color-primario: #000000;
$color-secundario: #F3F3F3;
$color-terciario: #619D00;

$tipografia-primaria: 'Roboto';